$black: #191414;
$green: #1db954;
$white: #ffffff;
$red: #ff0022;
$orange: #f18f01;
$blue: #048ba8;
$purple: #731dd8;
$github: #171515;

$black-5: rgba(25, 20, 20, 0.5);
$black-9: rgba(25, 20, 20, 0.9);

$purple-6: rgba(115, 29, 216, 0.6);
$blue-6: rgba(4, 139, 168, 0.6);

$arrow-size: 1em;
$typewriter-speed: 1.5s;

html {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: $black;
  color: $white;
  scroll-behavior: smooth;
  overflow: hidden;
}

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: calc(2rem + 1vw);
}

.purple {
  color: $purple;
}
.blue {
  color: $blue;
}
.green {
  color: $green;
}
.orange {
  color: $orange;
}
.red {
  color: $red;
}

.h2-3 {
  font-size: 3rem;
}
.h2-2 {
  font-size: 2rem;
}
.h2-1 {
  font-size: 1rem;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.no-opacity {
    opacity: 0;
  }
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.col {
    flex-direction: column;
  }
}

.btn {
  height: 35px;
  width: 100px;
  border: 1px solid;
  border-radius: 5px;
  mix-blend-mode: difference;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);

  i {
    display: inline-block;
    margin-top: 2px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.neon {
  font-size: calc(3rem + 6vw) !important;
  font-family: neon;
  color: var(--white-color);
  letter-spacing: 0.25rem;

  &.blue {
    filter: drop-shadow(0 0 1px $blue) drop-shadow(0 0 1px $blue)
      drop-shadow(0 0 3px $green) drop-shadow(0 0 5px $green) hue-rotate(10turn);
  }

  &.yellow {
    animation: yellow-glow 1s infinite linear;
    filter: drop-shadow(0 0 1px $orange) drop-shadow(0 0 1px $orange)
      drop-shadow(0 0 3px $green) drop-shadow(0 0 5px $green) hue-rotate(10turn);
  }
}

@keyframes yellow-glow {
  0%,
  15%,
  70%,
  100% {
    filter: drop-shadow(0 0 1px $orange) drop-shadow(0 0 1px $orange)
      drop-shadow(0 0 3px $green) drop-shadow(0 0 5px $green) hue-rotate(10turn);
  }
  8%,
  45%,
  73% {
    filter: drop-shadow(0 0 0.75px $orange) drop-shadow(0 0 0.75px $orange)
      drop-shadow(0 0 3px $green) drop-shadow(0 0 5px $green) hue-rotate(10turn);
  }
  10%,
  50%,
  75% {
    filter: drop-shadow(0 0 1.5px $orange) drop-shadow(0 0 1.5px $orange)
      drop-shadow(0 0 3px $green) drop-shadow(0 0 5px $green) hue-rotate(10turn);
  }
}

/* Arrows */

.top-bar {
  width: 100vw;
  display: grid;
  place-items: center;
  position: fixed;
  top: 10px;
  z-index: 1000;
}

.bottom-bar {
  @extend .top-bar;
  top: auto;
  bottom: 10px;
}

.left-bar {
  height: 100vh;
  display: grid;
  place-items: center;
  position: fixed;
  left: 10px;
  z-index: 1000;
}

.right-bar {
  @extend .left-bar;
  right: 10px;
  left: auto;
}

.up-arrow {
  font-size: $arrow-size;
  color: $green;
  transition: all 0.2s ease-in-out;
  transform-origin: top center;

  &:hover {
    transform: scale(3, 3);
    border-radius: 5px;
    background-color: rgba(25, 20, 20, 0.9);
  }
}

.down-arrow {
  @extend .up-arrow;
  bottom: 10px;
  top: auto;
  color: $red;
  transform-origin: bottom center;
}

.left-arrow {
  @extend .up-arrow;
  left: 10px;
  color: $orange;
  transform-origin: center left;
}

.right-arrow {
  @extend .left-arrow;
  right: 10px;
  left: auto;
  color: $blue;
  transform-origin: right center;
}

.profile-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin: 2rem;
}

.welcome-intro {
  display: flex;
  flex-direction: column;
  margin: 2rem;

  .heading {
    font-size: 2rem;
    font-weight: bold;
  }

  .welcome-text {
    width: calc(min(90%, 600px));
  }
}

.welcome-info {
  position: absolute;
  bottom: 50px;
  padding: 25px;
  border: 1px solid $white;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
}

.about-site {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    $black,
    $black 50%,
    $white 50%,
    $white
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.about-site-text {
  mix-blend-mode: difference;
  text-align: center;

  .left {
    width: 100%;
    text-align: left;
    //margin-left: 50px;
  }

  .right {
    width: 100%;
    text-align: right;
    margin-right: 50px;
  }
}

.about-site-btn-container {
  display: flex;
  justify-content: space-between;
}

.about-site-btn {
  height: 50px;
  flex: 1;
  border: 1px solid;
  border-radius: 5px;
  mix-blend-mode: difference;
  font-size: 1.25rem;
  margin: 5px;
  display: grid;
  place-items: center;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    // filter: invert(1);
    // -webkit-filter: invert(100%);
  }
}

.about-me {
  max-width: 100vw;
  height: 100%;
  position: relative;

  .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 101;
    position: absolute;
    padding: 1rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    img {
      height: calc(max(90%, 500px));
      width: calc(min(100%, 600px));
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 102;
    position: absolute;
    padding: 1rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    div {
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: flex-start;
      max-width: calc(max(70vw, 350px));
      background: $black-9;
      padding: 0.5rem;
      border-radius: 5px;

      p {
        line-height: 1.25em;
        overflow-wrap: break-word;
        margin: 0 auto;
        letter-spacing: 0.1em;
        padding: 0.5rem 0px;
        text-align: left;
        width: 100%;
      }
    }
  }
}

.typewriter {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
  max-width: calc(max(70vw, 350px));
  background: $black-9;
  padding: 0.5rem;
  border-radius: 5px;

  span {
    line-height: 1.25em;

    p {
      //overflow: hidden;
      //white-space: wrap;
      overflow-wrap: break-word;
      margin: 0 auto;
      letter-spacing: 0.1em;
      animation: typing $typewriter-speed steps(40, end);
      animation-fill-mode: forwards;
      float: left;
      mix-blend-mode: difference;
      padding: 0.5rem 0px;
    }
  }

  :nth-child(2) p {
    animation-delay: $typewriter-speed;
  }
  :nth-child(3) p {
    animation-delay: 2 * $typewriter-speed;
  }
  :nth-child(4) p {
    animation-delay: 3 * $typewriter-speed;
  }
  :nth-child(5) p {
    animation-delay: 4 * $typewriter-speed;
  }
  :nth-child(6) p {
    animation-delay: 5 * $typewriter-speed;
  }
  :nth-child(7) p {
    animation-delay: 6 * $typewriter-speed;
  }
  :nth-child(8) p {
    animation-delay: 7 * $typewriter-speed;
  }
}

@keyframes typing {
  0% {
    width: 0;
    border-right: 0.15em solid $orange;
  }
  99% {
    border-right: 0.15em solid $orange;
  }
  100% {
    width: 100%;
    border-right: none;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $orange;
  }
}

.project-card-grid {
  display: grid;
  gap: 1.5rem;
  padding: 2rem;

  width: 95%; //calc(min(95%, 70rem));
  height: 90vh;
}

@media (min-width: 50em) {
  .project-card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-card {
  border-radius: 5px;
  //position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform;
  transform: perspective(1000px);
  transition: all 0.5s ease-in-out;
  height: 100%;

  &:hover .project-card-flip {
    transform: rotatex(180deg) translate3d(0, 0, 0);
    box-shadow: 8px -10px 15px 0 rgba(0, 0, 0, 0.5);
  }

  .project-card-flip {
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.5);
  }

  .project-card-front,
  .project-card-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    z-index: 10;
  }

  .project-card-front {
    transform: rotateX(0deg);
    background-position: center;
    background-size: cover;
  }

  .project-card-back {
    transform: rotateX(180deg);
    background: $black;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      width: 90%;
      text-align: center;
      padding-bottom: 2rem;
    }

    .buttons {
      width: 90%;
      position: absolute;
      bottom: 5px;

      .btn {
        transition: all 0.5s ease-in-out;
        &:hover {
          background: $white !important;
          color: $black !important;
        }
      }
    }
  }

  .project-card-flag {
    position: absolute;
    top: 0px;
    left: 0px;
    width: max-content;
    padding: 5px;
    background: $black-5;
    border-radius: 0px 0px 5px 0px;

    p {
      color: transparent;
      font-size: calc(0.75rem + 0.75vw) !important;
      font-weight: 600;
      transform: translateZ(0);
      //animation: rgb 6s linear infinite; (Too much CPU usage, maybe find a way to do animation without modifying background)
      background: linear-gradient(
          45deg,
          #ff0000 0%,
          #ff9a00 10%,
          #d0de21 20%,
          #4fdc4a 30%,
          #3fdad8 40%,
          #2fc9e2 50%,
          #1c7fee 60%,
          #5f15f2 70%,
          #ba0cf8 80%,
          #fb07d9 90%,
          #ff0000 100%
        )
        repeat 0% 0% / 300% 100%;
      background-clip: text;
    }
  }
}

.rgb::after {
  content: '';
  background: linear-gradient(
      45deg,
      #ff0000 0%,
      #ff9a00 10%,
      #d0de21 20%,
      #4fdc4a 30%,
      #3fdad8 40%,
      #2fc9e2 50%,
      #1c7fee 60%,
      #5f15f2 70%,
      #ba0cf8 80%,
      #fb07d9 90%,
      #ff0000 100%
    )
    repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -3px;
  border-radius: 5px;
  filter: blur(4px);
  transform: translateZ(0); /*or z-index */
  //animation: rgb 6s linear infinite;
  z-index: 9;
}

@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.project-container {
  @extend .flex-center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 0 0 0 1rem $black;
  padding: 1rem;

  h1 {
    padding: 2rem;
  }

  .feature {
    //@extend .flex-center;
    flex-direction: column;
    height: 3rem;
    width: calc(max(90%, 350px));
    margin: 0 auto;
    border: 2px solid $white;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    .header {
      line-height: 3rem;
      @extend .flex-center;
    }

    .details {
      height: max-content;
      display: flex;
      flex-direction: column;

      img {
        border-radius: 0.5rem;
        max-width: 100%;
        object-fit: contain;
        margin: 0 auto;
      }

      p {
        padding: 0.5rem;
      }
    }

    &.active {
      height: 500px;
    }
  }
}
